<ion-view view-title="Cajas" cache-view="false" style="background-color: rgba(0,0,0,0.1)">
  <ion-nav-bar class="color-base" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button icon ion-android-menu button-clear color-base" menu-toggle="left"> 
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="tabs-striped tabs-top base-positive tabs-color-light">
    <div class="tabs base-positive">
      <a class="tab-item active" ng-class="{ 'active': Swiper.activeIndex === 0 }" ng-click="slideTo(0)">
        Enlaces
      </a>
    </div>
  </div>
  <ion-content class="has-subheader">
    <ion-slides slider="slider" options="options">
      <ion-slide-page>
        <div ng-include src="'templates/enlaces.html'" ng-click="setear()">
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>