<ion-view view-title="Detalle Producto" style="background-color:rgba(0,0,0,0.05);">
	<ion-nav-bar class="color-base border-b" align-title="left">
      <ion-nav-back-button class="color-base">
      </ion-nav-back-button>  
  	</ion-nav-bar>
  	<ion-content >
  		<div class="list" style="margin-bottom:0px;">
		  <div class="row base-positive">
			<div style="padding:15px;">
				<i class="icon ion-ios-cart" style="color:white;font-size:45px;" align="center">
			    </i>
		    </div>
		    <div style="padding:5px;">
			    <h4 style="color:white;">{{nomserv.nombre}}</h4>
			    <a class="subdued" style="color:white;">Precio: <span>{{nomserv.precio}}Bs.</span></a>
		    </div>
		  </div>

		  <div class="item item-body" style="margin:10px;">
		  	<p style="color:rgba(0,0,0,0.6);margin:0px;padding:0px;">
		      Detalles:
		    </p>
		    <p style="color:black;margin:0px;padding:0px;">
		      {{nomserv.detalle}}
		    </p>
		    <p>
		    	<a class="subdued">November 05, 1955</a>
		      
		      <a class="subdued">Clasificacion: {{nomserv.clasificacion}}</a>
		    </p>
		  </div>
		</div>
		<div style="padding:10px;margin-top:0px!important;">
	      
	      <button class="button button-full base-positive" ng-click="editars(nomserv)">
	       Editar
	      </button>
	      <button type="submit" ng-click="elimserv(nomserv)" class="button button-full" style="color:rgba(0,0,0,0.5);background-color:rgba(0,0,0,0.1)!important;" >
	       Eliminar
	      </button>
	    </div>
	</ion-content >
</ion-view>