

    <div class="list list-inset" style="margin-top:15px;">
      <a class="item " ng-class="{ 'fadein': counthist === 0 }">
              <p class="tittext" style="color:rgba(0,0,0,0.6);">Nada que mostrar.</p>
      </a>
      <div class="item item-button-right hide" style="font-weight:bold;color:#4684EF;padding:15px!important;">
      Caja 1 <span style="padding-left:10px;border-left:1px solid rgba(0,0,0,0.3);margin-left:5px;font-size:14px;color:#666;font-weight:400;">dazhurgen</span>
        <button class="button button-assertive" style="margin:0px!important;" ng-click="deletCob(historial)">
          <i class="icon ion-close-round"></i>
        </button>
      </div>
    </div>