<ion-view cache-view="false" view-title="Generar Pago" >
<ion-nav-bar class="base-positive-dark">
    
<ion-nav-back-button class="wt">
    
</ion-nav-back-button >
  </ion-nav-bar>
<div class="bar bar-subheader base-positive">
  <h2 class="title wt">Introduzca productos a cobrar</h2>
</div>
<ion-content class=" has-subheader base" scroll="false">

	<div class="item item-divider" style="background-color: rgba(255,255,255,0); padding: 0px;">
	   <div class="card calc-btn-card" style=" margin:0px; padding:0px;">
	      <div class="item item-text-wrap calc-btn-card">
	        <div class="row" style="padding:0px;">
	            <div class="col col-90" >
	              <h1  style="text-align: center;">Bs. {{actualPago}}</h1>
	            </div>
	            <div class="col" style="visibility: hidden;">
	              <button class="button icon button-clear button-light ion-backspace" ng-click="restar()"  ></button>
	            </div>
	        </div>
	      </div>
	    </div>
	</div>
	<div>
		<div class="list" style="overflow:auto;">
			LISTA
			
		    <a class="item hide"  ng-repeat="producto in dataVentas" ng-click="detalle(producto)">
			   
		  	</a>

		</div>
	</div>
</ion-content>

</ion-view>