<ion-side-menus >
  <ion-side-menu-content >
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background-color:white;">
    <ion-header-bar class="trans" align="center">
      <button class="button icon ion-android-settings"></button>
    </ion-header-bar>
    <div class="grafic marg" align="center">
      <i class="icon ion-ios-person color-base" style="margin-right:5px;font-size:45px;"></i><h4 style="color:rgba(0,0,0,0.4);font-weight:bold;">{{menuser}}</h4>
    </div>
    <ion-content class="base-positive-prin" style="margin-top:100px;">
      <ion-list>
        <a menu-close href="#/app/menuprin" class="it-resum trans it-border-bottom" style="padding:20px 10px;font-size: 14px!important;border-bottom:1px solid rgba(0,0,0,0.1);">
          <ion-icon class="light">
            <span class="paypayio" style="color:white;font-size:25px;margin-right: 10px;"></span>
          </ion-icon>
          PayioPYME
        </a>
        <a menu-close href="#/app/inventario" class="it-resum trans it-border-top it-border-bottom" style="padding:20px 10px;font-size: 14px!important;">
          <i class="icon ion-clipboard" style="color:white;font-size: 30px;margin-right: 10px;"></i>
          Inventario
        </a>
        <a menu-close href="#/app/resumen" class="it-resum trans it-border-top it-border-bottom" style="padding:20px 10px;font-size: 13px!important;">
          <i class="icon ion-ios-pie-outline" style="color:white;font-size: 30px;margin-right: 10px;"></i>
          Resumen
        </a>
        <a menu-close href="#/app/inventario" class="it-resum trans it-border-top it-border-bottom" style="padding:20px 10px;font-size: 14px!important;">
          <i class="icon ion-cash" style="color:white;font-size: 30px;margin-right: 10px;"></i>
          Cajas
        </a>
        <a menu-close href="#/app/inventario" class="it-resum trans it-border-top it-border-bottom" style="padding:20px 10px;font-size: 14px!important;">
          <i class="icon ion-ios-undo" style="color:white;font-size: 30px;margin-right: 10px;"></i>
          Retiro a Banco
        </a>
        <a menu-close href="#/login" class="it-resum trans it-border-top it-border-bottom" style="padding:20px 10px;font-size: 14px!important;">
          <i class="icon ion-log-out" style="color:white;font-size: 30px;margin-right: 10px;"></i>
          Cerrar sesion
        </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
