<ion-view view-title="Cobro Generado" >
	<ion-nav-bar class="base-positive-dark">
		<ion-nav-back-button class="wt" ng-click="cancelar();">
		</ion-nav-back-button >
 	 </ion-nav-bar>
	<div align="center" class="bar bar-subheader base-positive">
		<h4 class="wt">Monto a Cobrar: {{datpagext.monto | currency:'Bs. '}}</h4>
	</div>
	<ion-content class=" has-subheader base" scroll="false">
		<div align="center" style="padding:20px;">
			<qr text="datos.ventaID" size="180"></qr>
		</div>
	</ion-content>
</ion-view>