<ion-view view-title="Registro de Servicio" align-title="center">
	<ion-nav-bar class="base-positive-dark" align-title="left">
      <ion-nav-back-button class="wt">
      </ion-nav-back-button>
	    <ion-nav-buttons side="right" >
	      <button class="button icon ion-upload button-clear" ng-class="{ 'hide': check.val == true }" style="color:white;" ng-click="regServ()"> 
	      </button>
	    </ion-nav-buttons>
  	</ion-nav-bar>
	<ion-content>
		<div class="top-bar sub-text base-positive" style="padding-top:10px;">
			<div class="subtext" style="overflow: hidden;">
				<div align="center" style="color:white;">
					Requerimientos
				</div>
			</div>
		</div>
		<div class="list">
		<!--
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Foto</span>
		    <input type="text">
		  </label>
		  -->
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Nombre</span>
		    <input type="text" ng-model="regserv.nombre">
		  </label>
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Precio</span>
		    <input type="tel" ng-model="regserv.precio">
		  </label>
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Clasificacion</span>
		    <input type="text" ng-model="regserv.clasificacion">
		  </label>
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Caracteristicas</span>
		    <textarea type="text" ng-model="regserv.detalle"></textarea>
		  </label>
		</div>
	</ion-content>
</ion-view>