<ion-view view-title="Registro de producto" align-title="center" >
	<ion-nav-bar class="base-positive-dark" align-title="left">
      <ion-nav-back-button class="wt">
      </ion-nav-back-button>
	    <ion-nav-buttons side="right" >
	      <button class="button icon ion-upload button-clear" ng-class="{ 'hide': check.val == true }" style="color:white;" ng-click="regProd()"> 
	      </button>
	    </ion-nav-buttons>
  	</ion-nav-bar>
	<ion-content>
		<div class="top-bar sub-text base-positive" style="padding-top:10px;">
			<div class="subtext" style="overflow: hidden;">
				<div align="center" style="color:white;">
					Requerimientos
				</div>
			</div>
		</div>
		<div class="list">
		<!--
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Foto</span>
		    <input type="text">
		  </label>
		  -->
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Nombre</span>
		    <input type="text" ng-model="regprod.nombre">
		  </label>
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Precio</span>
		    <input type="tel" ng-model="regprod.precio" ng-keyup="transf()">
		  </label>
		  <label class="item item-input item-select" style="padding:15px 15px;">
		    <div class="input-label">
		      Inventario
		    </div>
		    <select ng-model="regprod.existencia">
		      <option selected ng-value="1">Por Pedido</option>
		      <option ng-value="2">Existencia</option>
		      <option ng-value="3">Por Paquete</option>
		    </select>
		  </label>
		  <div class="" >
			  <label class="item item-input hide" ng-class="{'fadein': regprod.existencia == 2}"  style="padding:15px 15px;">

			    <span class="input-label" style="display:inline-block;">Cantidad</span>
			    <input type="tel" style="display:inline-block;" ng-model="regprod.cantidad1">
			  </label>
		  </div>
		  <label class="item item-input item-select hide" ng-class="{'fadein': regprod.existencia == 3}" style="padding:15px 15px;">
		    <div class="input-label">
		      Unidad Medida
		    </div>
		    <select ng-model="regprod.unidad">
		      <option ng-repeat="unidad in unidades" ng-value="{{unidad.val}}">{{unidad.val}}</option>
		    </select>
		  </label>
		  <div class="" >
			  <label class="item item-input hide" ng-class="{'fadein': regprod.existencia == 3}"  style="padding:15px 15px;">

			    <span class="input-label" style="display:inline-block;">Cantidad</span>
			    <input type="tel" style="display:inline-block;" ng-model="regprod.cantidad">
			  </label>
		  </div>
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Descuento</span>
		    <input type="text" ng-model="regprod.descuento">%
		  </label>
		  <label class="item item-input" style="padding:15px 15px;">
		    <span class="input-label">Caracteristicas</span>
		    <textarea type="text" ng-model="regprod.detalle"></textarea>
		  </label>
		</div>
	</ion-content>
</ion-view>