<ion-view view-title="Resumen" cache-view="false" class="base-positive-resum">
  <ion-nav-bar class="color-base" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button icon ion-android-menu button-clear color-base" menu-toggle="left"> 
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="trans graf top-marg-resum">
    <div class="graficss" style="position:relative;"  id="cont" align="center">
      <div style="position:absolute;z-index:30;width:100%;height:100%;; " ng-class="{ 'ma': log === 'true' }">
        <ion-spinner icon="ripple" style=""></ion-spinner>
      </div>
      <canvas id="line" class="chart chart-line" width="{{width}}" height="{{height}}" chart-data="data"
        chart-labels="labels" chart-legend="false" chart-options="options" chart-series="series"
        chart-click="onClick" >
      </canvas> 
    </div>
    <div class="row cash-resumen">
      <div class="col col-33 item-cash-resumen">
        <h5 class="font-rcl font-resum-12">INGRESOS</h5>
        <h4 class="font-rcl font-monto">{{ingresos | currency:'Bs '}}</h4>
      </div>
      <div class="col col-33 item-cash-resumen">
        <h5 class="font-rcl font-resum-15">BALANCE</h5>
        <h4 class="font-rcl font-monto" >{{balance | currency:'Bs '}}</h4>
      </div>
      <div class="col col-33 item-cash-resumen">
        <h5 class="font-rcl font-resum-12">RETIROS</h5>
        <h4 class="font-rcl font-monto">{{'0' | currency:'Bs '}}</h4>
      </div>
    </div>
  </div>
  <ion-content class="cont-resumen">
    <div class="row bar-resum-fec" align="center">
      <div class="col bar-resumen" ng-click="resumFec(manana2mod)">
        <p class="font-fec">{{ayer2mod}}</p>
      </div>
      <div class="col bar-resumen" ng-click="resumFec(manana2mod)">
        <p class="font-fec" >{{ayer1mod}}</p>
      </div>
      <div class="col bar-resumen" ng-click="resumFec(manana2mod)">
        <p  class="font-rcl font-fec-hoy">HOY</p>
      </div>
      <div class="col bar-resumen" ng-click="resumFec(manana2mod)">
        <p class="font-fec" >{{manana1mod}}</p>
      </div>
      <div class="col bar-resumen" ng-click="resumFec(manana2mod)">
        <p class="font-fec" >{{manana2mod}}</p>
      </div>
    </div>
    <div class="row" style="border-bottom:1px solid rgba(0,0,0,0.1);padding:0px;">
      <div class="padd-ico" style="width:15%;color:rgba(0,0,0,0.7);">
        <i class="icon ion-bag icon-resum" style="color:#4CB2B0;"></i>
      </div>
      <div class="padd" style="width:55%;font-weight:bold;color:rgba(0,0,0,0.8);">
        <p class="font-resum-list">PRODUCTOS</p>
        <p class="font-resum-det">Comida - Bebida</p>
      </div>
      <div class="padd" style="width:30%;font-weight:bold;color:#4A9C2C;">
        <p class="font-rcl font-monto-list">{{ingresosItems | currency:'Bs '}}</p>
        <p class="font-resum-det">Ingreso</p>
      </div>
    </div>
    <div class="row" style="border-bottom:1px solid rgba(0,0,0,0.1);padding:0px;">
      <div class="padd-ico" style="width:15%;color:rgba(0,0,0,0.7);">
        <i class="icon ion-hammer icon-resum" style="color:#E15E95;"></i>
      </div>
      <div class="padd" style="width:55%;font-weight:bold;color:rgba(0,0,0,0.8);">
        <p class="font-resum-list">SERVICIOS</p>
        <p class="font-resum-det">Comida - Bebida</p>
      </div>
      <div class="padd" style="width:30%;font-weight:bold;color:#4A9C2C;">
        <p class="font-rcl font-monto-list">{{ingresosServicios | currency:'Bs '}}</p>
        <p class="font-resum-det">Ingreso</p>
      </div>
    </div>
    <div class="row" style="border-bottom:1px solid rgba(0,0,0,0.1);padding:0px;">
      <div class="padd-ico" style="width:15%;color:rgba(0,0,0,0.7);">
        <i class="icon ion-ios-list-outline icon-resum" style="color:#D7D728;"></i>
      </div>
      <div class="padd" style="width:55%;font-weight:bold;color:rgba(0,0,0,0.8);">
        <p class="font-resum-list">OTROS</p>
        <p class="font-resum-det">Pago Especial</p>
      </div>
      <div class="padd" style="width:30%;font-weight:bold;color:#4A9C2C;">
        <p class="font-rcl font-monto-list">{{ingresosOtros | currency:'Bs '}}</p>
        <p class="font-resum-det">Ingreso</p>
      </div>
    </div>
  </ion-content>
</ion-view>