<div class="row" style="padding: 0;">
  <div class="button-bar" style="overflow: hidden;box-shadow: 0px 1px 5px rgba(0,0,0,0.2);">
    <a class="button base-positive-btn" ng-click="genCob()" style="border-right:1px solid rgba(0,0,0,0.07);color:white;border-radius: 0px;font-size:12px;line-height: 5px;">
      <div style="padding: 10px">
        <ion-icon class="light">
          <span class="paypayio" style="color:#8BC34A;font-size:30px;"></span>
        </ion-icon>
      </div>
      <p style="color:rgba(0,0,0,0.5);">Generar</p>
      <p style="color:rgba(0,0,0,0.5);">QR</p>
    </a>
    <a class="button base-positive-btn" style="border-right:1px solid rgba(0,0,0,0.07);color:#8BC34A;border-radius: 0px;font-size:12px;line-height: 5px;">
      <div style="padding: 10px">
        <ion-icon class="light">
          <span class="paypayio" style="color:#8BC34A;font-size:30px;"></span>
        </ion-icon>
      </div>
      <p style="color:rgba(0,0,0,0.5);">Capturar</p>
      <p style="color:rgba(0,0,0,0.5);">QR</p>
    </a>
    <a class="button base-positive-btn" ng-click="genProd()" style="border-right:1px solid rgba(0,0,0,0.07);color:white;border-radius: 0px;font-size:12px;line-height: 5px;">
      <div style="padding: 10px">
        <ion-icon class="light">
          <span class="paypayio" style="color:#8BC34A;font-size:30px;"></span>
        </ion-icon>
      </div>
      <p style="color:rgba(0,0,0,0.5);">Por</p>
      <p style="color:rgba(0,0,0,0.5);">Producto</p>
    </a>
  </div>

</div>