<div class="row" style="padding: 0;">
  <div class="button-bar" style="overflow: hidden;box-shadow: 0px 1px 5px rgba(0,0,0,0.2);">
    <a class="button base-positive-btn" ng-click="genCob()" style="border-right:1px solid rgba(0,0,0,0.2);color:white;border-bottom:1px solid #E9486D;border-radius: 0px;font-size:12px;line-height: 5px;padding-top:10px;padding-bottom:10px">
      <div style="padding: 10px;">
        <ion-icon class="light">
          <span class="paypayio color-base" style="font-size:40px;"></span>
        </ion-icon>
      </div>
      <p style="color:#444;font-size:14px;font-weight:400;">Generar</p>
      <p style="color:#444;font-size:14px;font-weight:400;">QR</p>
    </a>
    <a class="button base-positive-btn" style="border-right:1px solid rgba(0,0,0,0.07);color:#8BC34A;border-radius: 0px;border-bottom:1px solid #E9486D;font-size:12px;line-height: 5px;padding-top:10px;padding-bottom:10px">
      <div style="padding: 10px;">
        <ion-icon class="light">
          <span class="payqr-scan color-base" style="font-size:40px;"></span>
        </ion-icon>
      </div>
      <p style="color:#444;font-size:14px;font-weight:400;">Capturar</p>
      <p style="color:#444;font-size:14px;font-weight:400;">QR</p>
    </a>
  </div>

</div>