	<div class="graficss" style="position:relative;"  id="cont" align="center">
	    <!--
	    <div style="padding:5px 0px;">
		     <div class="row">
				<div class="col" style="border-right:1px solid rgba(0,0,0,0.3);border-bottom:2px solid #DD2651;background-color:#fff;padding:20px;"><p class="font-rc" style="color:#666;font-size:20px;font-weight:bold;">TOTAL</p></div>
				<div class="col" style="border-right:1px solid rgba(0,0,0,0.1);border-bottom:2px solid #DD2651;background-color:#fff;padding:20px;"><p class="font-rc" style="color:rgba(0,0,0,0.2);font-size:20px;font-weight:bold;">CAJAS</p></div>
		     </div>
	     </div>
	     -->
	     <div style="border-radius:200px;background:radial-gradient(#DD2651,#E9486D,#DD2651);width:200px;height:200px;padding:10px;margin:10px;padding-top:15px;">
	     	<div style="border-radius:150px;background:radial-gradient(#fff,#E0E0E0);width:150px;height:150px;padding-top:20px;">
	     		<p class="font-rc" style="padding:0px;margin:0px;font-size:20px;margin:10px;color:rgba(0,0,0,0.4);">09 Lun
	     		</p>
	     		<p class="font-rc" style="padding:0px;margin:0px;font-size:20px;margin:10px;">
	     			1,250,416
	     		</p>
	     		<p class="font-rc" style="padding:0px;margin:0px;font-size:20px;margin:10px;color:rgba(0,0,0,0.4);">MAY
	     		</p>
	     	</div>
	     </div>
	     <div style="background-color:#262930;">
		     <div style="padding:5px;">
			     <div style="padding:20px;background-color:rgba(0,0,0,0);border:2px solid #fff;">
			     	<h1 style="font-weight:bold;color:#fff;">Bs.6,000.00 </h1>
			     </div>
		     </div>
		     <div style="padding:5px;">
			     <div class="row" style="color:white;padding:0px;">
			     	<div class="col" style="padding:5px;" >
			     		<div style="background-color:rgba(255,255,255,0.1);padding:5px;">
			     			<p style="font-size:20px;color:orange;">P</p>
			     			<p style="font-size:30px;margin-bottom:5px;">50</p>
			     		</div>
			     	</div>
			     	<div class="col" style="padding:5px 0px;">
			     		<div style="background-color:rgba(255,255,255,0.1);padding:5px;">
			     			<p style="font-size:20px;color:orange;">S</p>
			     			<p style="font-size:30px;margin-bottom:5px;">0</p>
			     		</div>
			     	</div>
			     	<div class="col" style="padding:5px;">
			     		<div style="background-color:rgba(255,255,255,0.1);padding:5px;">
			     			<p style="font-size:20px;color:orange;">O</p>
			     			<p style="font-size:30px;margin-bottom:5px;">20</p>
			     		</div>
			     	</div>
			     </div>
		     </div>

			<ion-content class="cont-resumen" >
				
			</ion-content>
		</div>
	</div>